<h1 id="Your-Favicon-Package"><a href="#Your-Favicon-Package" class="headerlink" title="Your Favicon Package"></a>Your Favicon Package</h1><p>This package was generated with <a href="https://realfavicongenerator.net/">RealFaviconGenerator</a> <a href="https://realfavicongenerator.net/change_log#v0.16">v0.16</a></p><h2 id="Install-instructions"><a href="#Install-instructions" class="headerlink" title="Install instructions"></a>Install instructions</h2><p>To install this package:</p><p>Extract this package in <code>&lt;web site&gt;/img/siteicon/</code>. If your site is <code><a href="http://www.example.com">http://www.example.com</a></code>, you should be able to access a file named <code><a href="http://www.example.com/img/siteicon/favicon.ico">http://www.example.com/img/siteicon/favicon.ico</a></code>.</p><p>Insert the following code in the <code>head</code> section of your pages:</p><pre><code>&lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;180x180&quot; href=&quot;/img/siteicon/apple-touch-icon.png&quot;&gt;
&lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;32x32&quot; href=&quot;/img/siteicon/favicon-32x32.png&quot;&gt;
&lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;16x16&quot; href=&quot;/img/siteicon/favicon-16x16.png&quot;&gt;
&lt;link rel=&quot;manifest&quot; href=&quot;/img/siteicon/site.webmanifest&quot;&gt;
&lt;link rel=&quot;mask-icon&quot; href=&quot;/img/siteicon/safari-pinned-tab.svg&quot; color=&quot;#5bbad5&quot;&gt;
&lt;link rel=&quot;shortcut icon&quot; href=&quot;/img/siteicon/favicon.ico&quot;&gt;
&lt;meta name=&quot;apple-mobile-web-app-title&quot; content=&quot;檐牙的小窝&quot;&gt;
&lt;meta name=&quot;application-name&quot; content=&quot;檐牙的小窝&quot;&gt;
&lt;meta name=&quot;msapplication-TileColor&quot; content=&quot;#000000&quot;&gt;
&lt;meta name=&quot;msapplication-config&quot; content=&quot;/img/siteicon/browserconfig.xml&quot;&gt;
&lt;meta name=&quot;theme-color&quot; content=&quot;#ffffff&quot;&gt;
</code></pre><p><em>Optional</em> - Check your favicon with the <a href="https://realfavicongenerator.net/favicon_checker">favicon checker</a></p>